In [1]:
import pandas as pd

In [99]:
 fibit=pd.read_csv(r"C:\Users\user\Downloads\FitBit data.csv")

In [100]:
fitbit.head()

Empty DataFrame
Columns: [{"Id":{"0":1503960366, 1:1503960366, 2:1503960366, 3:1503960366, 4:1503960366, 5:1503960366, 6:1503960366, 7:1503960366, 8:1503960366, 9:1503960366, 10:1503960366, 11:1503960366, 12:1503960366, 13:1503960366, 14:1503960366, 15:1503960366, 16:1503960366, 17:1503960366, 18:1503960366, 19:1624580081, 20:1624580081, 21:1624580081, 22:1624580081, 23:1624580081, 24:1624580081, 25:1624580081, 26:1624580081, 27:1624580081, 28:1624580081, 29:1624580081, 30:1624580081, 31:1624580081, 32:1624580081, 33:1624580081, 34:1624580081, 35:1624580081, 36:1624580081, 37:1624580081, 38:1644430081, 39:1644430081, 40:1644430081, 41:1644430081, 42:1644430081, 43:1644430081, 44:1644430081, 45:1644430081, 46:1644430081, 47:1644430081, 48:1844505072, 49:1844505072, 50:1844505072, 51:1844505072, 52:1844505072, 53:1844505072, 54:1844505072, 55:1844505072, 56:1844505072, 57:1844505072, 58:1844505072, 59:1844505072, 60:1927972279, 61:1927972279, 62:1927972279, 63:1927972279, 64:1927972279, 65:1927972279, 66:1927972279, 67:1927972279, 68:1927972279, 69:1927972279, 70:1927972279, 71:1927972279, 72:2022484408, 73:2022484408, 74:2022484408, 75:2022484408, 76:2022484408, 77:2022484408, 78:2022484408, 79:2022484408, 80:2022484408, 81:2022484408, 82:2022484408, 83:2022484408, 84:2026352035, 85:2026352035, 86:2026352035, 87:2026352035, 88:2026352035, 89:2026352035, 90:2026352035, 91:2026352035, 92:2026352035, 93:2026352035, 94:2026352035, 95:2026352035, 96:2320127002, 97:2320127002, 98:2320127002, 99:2320127002, ...]
Index: []

[0 rows x 6855 columns]

In [4]:
type(fitbit)

pandas.core.frame.DataFrame

In [5]:
import mysql.connector as conn
mydb = conn.connect(host= "localhost", user = "root" , password  = "vaishnavi143")
cursor = mydb.cursor()

In [19]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [27]:
from sqlalchemy import engine as sa
engine = sa.create_engine('mysql+pymysql://root:vaishnavi143@localhost/task')

In [28]:
fitbit.to_sql('task', con = engine)

457

In [30]:
cursor.execute("use task")

In [34]:
pd.read_sql_query("select * from task",engine)

,index,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [35]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\user\anaconda3\lib\site-packages (4.2.0)
Note: you may need to restart the kernel to use updated packages.

In [37]:
pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in c:\users\user\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\user\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [38]:
import pymongo
import pandas as pd
client = pymongo.MongoClient("mongodb+srv://vaishnavi:vaishnavi143@cluster0.dssdymw.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [40]:
fitbit=pd.read_csv(r"C:\Users\user\Downloads\FitBit data.csv")
fitbit.to_json(r"C:\Users\user\Downloads\FitBit data.csv")

In [45]:
 fitbit.to_json

<bound method NDFrame.to_json of              Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0    1503960366    3/25/2016       11004       7.110000         7.110000
1    1503960366    3/26/2016       17609      11.550000        11.550000
2    1503960366    3/27/2016       12736       8.530000         8.530000
3    1503960366    3/28/2016       13231       8.930000         8.930000
4    1503960366    3/29/2016       12041       7.850000         7.850000
..          ...          ...         ...            ...              ...
452  8877689391     4/8/2016       23014      20.389999        20.389999
453  8877689391     4/9/2016       16470       8.070000         8.070000
454  8877689391    4/10/2016       28497      27.530001        27.530001
455  8877689391    4/11/2016       10622       8.060000         8.060000
456  8877689391    4/12/2016        2350       1.780000         1.780000

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                         0.0                2.57                      0.46
1                         0.0                6.92                      0.73
2                         0.0                4.66                      0.16
3                         0.0                3.19                      0.79
4                         0.0                2.16                      1.09
..                        ...                 ...                       ...
452                       0.0               11.10                      0.63
453                       0.0                0.00                      0.02
454                       0.0               21.92                      1.12
455                       0.0                1.47                      0.15
456                       0.0                0.00                      0.00

     LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                   4.07                     0.00                 33
1                   3.91                     0.00                 89
2                   3.71                     0.00                 56
3                   4.95                     0.00                 39
4                   4.61                     0.00                 28
..                   ...                      ...                ...
452                 8.62                     0.00                 70
453                 8.02                     0.00                 90
454                 4.46                     0.00                128
455                 6.37                     0.01                 18
456                 1.78                     0.00                  0

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                     12                   205               804      1819
1                     17                   274               588      2154
2                      5                   268               605      1944
3                     20                   224              1080      1932
4                     28                   243               763      1886
..                   ...                   ...               ...       ...
452                   29                   359               982      4196
453                    9                   289              1052      3841
454                   46                   211              1055      4526
455                    7                   225              1190      2820
456                    0                    58               531       938

[457 rows x 15 columns]>

In [50]:
database = client["task"]
collection = database['fitbit']
collection.insert_one(fitbit_jsonviewer)

In [51]:
fitbit.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [53]:
fitbit["dateformat"]= pd.to_datetime(fitbit["ActivityDate"])

In [54]:
fitbit.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,dateformat
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29

In [60]:
fitbit['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [63]:
len(fitbit["Id"].unique())

35

In [66]:
fitbit["totalactive_minutes"]=fitbit["VeryActiveMinutes"]+fitbit["FairlyActiveMinutes"]+fitbit["LightlyActiveMinutes"]

In [67]:
fitbit.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,dateformat,totalactive_minutes
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25,250
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26,380
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27,329
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28,283
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29,299

In [70]:
fitbit.groupby("Id")["totalactive_minutes"].sum()

Id
1503960366    5318
1624580081    2325
1644430081    2860
1844505072    1920
1927972279    1360
2022484408    3797
2026352035    2032
2320127002    1535
2347167796    4327
2873212765    3436
2891001357    2010
3372868164    3022
3977333714    3004
4020332650    4547
4057192912    1593
4319703577    3282
4388161847       0
4445114986    3099
4558609924    3083
4702921684    4004
5553957443    2683
5577150313    2940
6117666160    3045
6290855005     578
6391747486     361
6775888955    1738
6962181067    4521
7007744171    4061
7086361926    1742
8053475328    2756
8253242879     837
8378563200    2816
8583815059    1117
8792009665    1668
8877689391    3875
Name: totalactive_minutes, dtype: int64

In [85]:
len(fitbit[fitbit["totalactive_minutes"]==0])

68

In [90]:
fitbit(fitbit["totalactive_minutes"]==min(fitbit["totalactive_minutes"]))

TypeError: 'DataFrame' object is not callable